.navbar .btn {
  border-radius: 20px;
}

nav {
  z-index: 999;
}

.top {
  background: url("https://images3.alphacoders.com/129/1295906.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.top .overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.top .box {
  color: white;
  text-align: center;
  position: relative;
  font-weight: 700;
  z-index: 2;
}

.top .box .btn {
  margin-top: 30px;
  border-radius: 70px;
}

.top1 {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
}

.second {
  background: url("https://cdna.artstation.com/p/assets/images/images/025/669/906/large/dino-rhinosaur-done-wp-pink-with-pic.jpg?1586544608");
  background-size: cover;
}

.second .row {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.gun-grid img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.third {
  background: url("https://pbs.twimg.com/media/FNVx40RXwAIa-Ez?format=jpg&name=4096x4096");
  background-size: cover;
}

.third img {
  height: 200px;
  width: 300px;
}

.agent {
  position: relative;
  width: 100%;
}

.agent img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.agent:hover .image {
  opacity: 0.3;
}

.agent:hover .text {
  opacity: 1;
}

.content {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 10%;
}

.btn {
  background-color: rgba(0, 0, 0, 0.7);
}

.gun-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 30px;
  height: 100%;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
  padding-top: 90px;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
  padding-top: 90px;
}
#item-2 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
  padding-top: 90px;
}
#item-3 {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5;
  padding-top: 90px;
}
#item-4 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
  padding-top: 90px;
}
#item-5 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  padding-top: 90px;
}
#item-6 {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;
  padding-top: 90px;
}
#item-7 {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
  padding-top: 90px;
}
#item-8 {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
  padding-top: 90px;
}
#item-9 {
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
  padding-top: 10px;
}
#item-10 {
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
  padding-top: 90px;
}
#item-11 {
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;
  padding-top: 10px;
}
#item-12 {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
  padding-top: 90px;
}
#item-13 {
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
  padding-top: 90px;
}
#item-14 {
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 4;
  padding-top: 90px;
}
#item-15 {
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
  padding-top: 90px;
}
#item-16 {
  grid-row-start: 5;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 2;
  padding-top: 90px;
}

#item-17 {
  grid-row-start: 5;
  grid-column-start: 4;

  grid-row-end: 6;
  grid-column-end: 5;
}

#item-9 h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

#item-11 h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.third .btn {
  width: 300px;
}

.iron {
  color: #3a3c40;
}

.bronze {
  color: #b08d57;
}

.silver {
  color: #bec2cb;
}

.gold {
  color: #d4af37;
}

.platinum {
  color: #cdd5e0;
}

.diamond {
  color: #d678ff;
}

.immortal {
  color: #dc3d4b;
}

.radiant {
  color: #ffc67f;
}

.four {
  background: url("https://s3-alpha.figma.com/hub/file/2497562000/01982829-9eaf-4f8c-899f-2f2397f1648a-cover.png");
  background-size: cover;
}

.four th,
.four tr {
  border: 1px solid red;
}

.five {
  background: url("https://attackofthefanboy.com/wp-content/uploads/2021/01/VALORANT_Maps_Article_Split_Banner.jpg");
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .gun-grid {
    display: grid;

    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(1, 1fr);

    gap: 30px;
    height: 100%;
  }

  .gun-grid img {
    margin: auto;
  }

  .third h3 {
    display: none;
  }

  #item-0 {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 1;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-1 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-2 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-3 {
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-4 {
    grid-row-start: 5;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-5 {
    grid-row-start: 6;
    grid-column-start: 1;

    grid-row-end: 6;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-6 {
    grid-row-start: 7;
    grid-column-start: 1;

    grid-row-end: 7;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-7 {
    grid-row-start: 8;
    grid-column-start: 1;

    grid-row-end: 8;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-8 {
    grid-row-start: 9;
    grid-column-start: 1;

    grid-row-end: 9;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-9 {
    grid-row-start: 10;
    grid-column-start: 1;

    grid-row-end: 10;
    grid-column-end: 2;
    padding-top: 10px;
  }
  #item-10 {
    grid-row-start: 11;
    grid-column-start: 1;

    grid-row-end: 11;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-11 {
    grid-row-start: 12;
    grid-column-start: 1;

    grid-row-end: 12;
    grid-column-end: 2;
    padding-top: 10px;
  }
  #item-12 {
    grid-row-start: 13;
    grid-column-start: 1;

    grid-row-end: 13;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-13 {
    grid-row-start: 14;
    grid-column-start: 1;

    grid-row-end: 14;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-14 {
    grid-row-start: 15;
    grid-column-start: 1;

    grid-row-end: 15;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-15 {
    grid-row-start: 16;
    grid-column-start: 1;

    grid-row-end: 16;
    grid-column-end: 2;
    padding-top: 90px;
  }
  #item-16 {
    grid-row-start: 17;
    grid-column-start: 1;

    grid-row-end: 17;
    grid-column-end: 2;
    padding-top: 90px;
  }

  #item-17 {
    grid-row-start: 18;
    grid-column-start: 1;

    grid-row-end: 18;
    grid-column-end: 2;
  }

  .responsive thead {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .responsive tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .responsive th {
    text-align: center !important;
    justify-content: center !important;
    display: flex;
    padding-left: 250px !important;
  }

  .responsive td {
    border-bottom: none;
    display: block;
    font-size: 0.8em;
    text-align: right;
    align-content: center;
    padding-left: 200px !important;
  }

  .responsive td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
